
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Audrey Qian">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Explore</title>
</head>
<body>
    <header>
        <h1>Explore</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <img href="../static/images/monomuse_overhead.jpg" alt="Overhead View of Mono Muse Museum">
    <h3>Mission Statement</h3>
    <p>MonoMuse is dedicated to exploring the evolving relationship between art, technology, and society. Our mission is to inspire curiosity 
        and creativity by showcasing innovative exhibitions that highlight how digital tools, emerging technologies, and human imagination 
        shape the future of artistic expression.
    </p>
    <h3>Milestones</h3>
    <ul>2023: Expansion of the musum space and launch of international artist collaborations.</ul>
    <ul>2018: Launch of the Interactive Media Lab, allowing visitors to experiement with creative coding.</ul>
    <ul>2016: MonoMuse opens its doors with its first exhibition on digital storytelling</ul>
    <footer>&copy 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>