
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Audrey Qian">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="../static/js/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

</head>
<body onload="addYear()">
    <div class="container">
        <!--banner-->
        <header class="banner">
            <div class="banner-text">
            <h2>Exploring</h2>
            <h1>Gregory Crewdson</h1>
            </div>
            <!--nav bar-->
            <nav class="nav-bar">
                <button class="navMenu">
                    ☰
                </button>
                <div class="nav-links">
                    <a href="../index.html">Home</a>
                    <a href="./explore.html">Explore</a>
                    <a href="./exhibitions.html">Exhibitions</a>
                    <a href="./buytickets.html">Buy Tickets</a>
                </div>
            </nav>
        </header>
        <main class="main">
            <h3>His Mission</h3>
            <p>Gregory Crewdson creates highly staged, cinematic, and eerie photographs that explore the dark underbelly of American 
                suburban life. Working like a film director, his mission is to create a "perfect moment" of stillness, uncovering themes of 
                human isolation, psychological longing, and the mysterious uncanny. 
            </p>
            <img class="med-img" src="../static/images/living_room.png" alt="Living Room Photo">
            <h3>His Photography Series</h3>
            <ul>
                <li>1992-1997- “Natural Wonder”</li>
                <li>1998-2002- “Twilight”</li>
                <li>2002- “Dream House”</li>
                <li>2003-2008- “Beneath the Roses” (Untitled #4 pictured above)</li>
                <li>2013-2014- “Cathedral of the Pines”</li>
                <li>2018-2019- “An Eclipse of the Moths”</li>
                <li>2021-2022- “Eveningside”</li>
            </ul>
        </main>
        <footer class="footer"><p> &copy; &nbsp; </p><p id="copyYear"></p><p>&nbsp; MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>